body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(212, 174, 249);
}
.container,.keypad,.display{
    border: solid black 2px;
    border-radius: 16px;
}
.container{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 500px;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(193, 193, 238);
}
.display{
    width:380px;
    height:100px;
    background-color: aliceblue;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.keypad{
    width:380px;
    height:380px;
    display: flex;
    background-color: rgb(156, 156, 170);
    
}
.numpad{
    margin:10px;
    width: 280px;
    height:360px ;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}
.operator{
    margin: 10px;
    width:85px ;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.keyrows{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.numkeys,.operation{
    border: solid black 1px;
    border-radius: 16px;
}
.numkeys{
    width: 82px;
    height: 84px;
    
    background-color: aliceblue;
    /* margin: 1px; */
}
.operation{
    width: 74px;
    height: 68px;
    
    background-color: rgb(62, 77, 110);
}
p{
    text-align: center;
    font-size: x-large;
}
#display{
    text-align: end;
}
.operation p{
    font-size:xx-large;
}